$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$default-margin: 16px;
$double-default: 32px;
$small-margin: 8px;
$login-button-color: #FF9800;
$logo-size: 64px;
$min-width: 300px;

body {
  font: 100% $font-stack;
  color: $primary-color;
  min-width: 300px;
}

input.userCredentials {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: $small-margin $default-margin;
}

label {
  b {
    margin-top: $small-margin;
    margin-bottom: $small-margin;
    display: block;
  }
}

img.imgLogo {
  height: $logo-size;
  width: $logo-size;
}

.logoTitle {
  line-height: 64px;
  position: absolute;
  width: -moz-calc(100% - #{$logo-size});
  width: -webkit-calc(100% - #{$logo-size});
  width: -o-calc(100% - #{$logo-size});
  width: calc(100% - #{$logo-size});
}

.borderTitle {
  border: 1px solid #ccc;
}

span.logoContainer {
  border: 1px solid #ccc;
  display: block;
  position: relative;
  height: $logo-size;
  min-width: 300px;
}

div.userInfo {
  float: right;
  line-height: 32px;
}

button.login {
  background-color: $login-button-color;
  color: white;
  padding: $small-margin $default-margin;
  margin: $default-margin 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

div.loginContainer {
  margin: 0 auto;
  width: 300px;
}

button.login:hover {
  opacity: 0.8;
}

.container {
  min-height: calc(100vh - 80px);
}

button.find {
  background-color: $login-button-color;
  color: white;
  margin: $default-margin 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

button.find:hover {
  opacity: 0.8;
}

.footer {
  text-align: center;
}

.rightPosition {
  float: right;
}

input.find {
  margin-right: $small-margin;
}

.courseElement {
  width: 300px;
  border: 1px solid #ccc;
  padding: $default-margin 0;
  list-style-type: none;

  .button {
    background-color: $login-button-color;
    color: white;
    border: none;
    width: 80px;
  }
  .topCourse {
    padding: $default-margin 0;
    .time {
      margin-left: $small-margin;
      margin-right: $small-margin;
    }
  }
  .bottomCourse {
    display: inline-block;
    width: 300px;
    padding: $default-margin 0;
    .courseDescription {
      width: 220px;
      display: inline-block;
      word-wrap: break-word;
    }
  }
}

.coursesList{
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: inline-block;
  
}

.coursesWrapper {
  text-align: center;
}

.find {
  padding: $small-margin $default-margin;
}

.courseDetailContainer {
  text-align: center;
  margin-top: $double-default;
  .row {
    width: 100%;
    margin-top: $default-margin;
    display: inline-block;
    text{
     float: left;
     margin-left: 20%;
     margin-right: 20%;
     max-width: $double-default;
    }
    input{
      float: left;
    }
    .titleInput {
      width: 20%;
    }
    .descriptionInput {
      height: 10%;
      width: 40%;
    }
    .dateInput {
      width: 10%;
    }
    .durationInput {
      width: 5%;
      max-width: $double-default;
    }
    .durationConvert {
      float: left;
      margin-left: $small-margin;
    }
    select {
      float: left;
      width: 10%;
      max-width: 128px;
      height: 64px;
    }
    .authorsControls {
      float: left;
      height: 64px;
      margin-left: $small-margin;
      margin-right: $small-margin;
      button {
        margin-top: $small-margin;
      }
    }
  }
}

.courseDetailsControls {
  width: 100%; text-align: center;
  display: inline-block;
  margin-top: $default-margin;
  margin-bottom: $default-margin;
}

@media screen and (max-width: 768px) {
  .coursesList{
    position: relative;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    display: inline-block;
  }
}