body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  min-width: 300px; }

input.userCredentials {
  display: inline-block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 8px 16px; }

label b {
  margin-top: 8px;
  margin-bottom: 8px;
  display: block; }

img.imgLogo {
  height: 64px;
  width: 64px; }

.logoTitle {
  line-height: 64px;
  position: absolute;
  width: -moz-calc(100% - 64px);
  width: -webkit-calc(100% - 64px);
  width: -o-calc(100% - 64px);
  width: calc(100% - 64px); }

.borderTitle {
  border: 1px solid #ccc; }

span.logoContainer {
  border: 1px solid #ccc;
  display: block;
  position: relative;
  height: 64px;
  min-width: 300px; }

div.userInfo {
  float: right;
  line-height: 32px; }

button.login {
  background-color: #FF9800;
  color: white;
  padding: 8px 16px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

div.loginContainer {
  margin: 0 auto;
  width: 300px; }

button.login:hover {
  opacity: 0.8; }

.container {
  min-height: calc(100vh - 80px); }

button.find {
  background-color: #FF9800;
  color: white;
  margin: 16px 0;
  border: none;
  cursor: pointer;
  width: 20%; }

button.find:hover {
  opacity: 0.8; }

.footer {
  text-align: center; }

.rightPosition {
  float: right; }

input.find {
  margin-right: 8px; }

.courseElement {
  width: 300px;
  border: 1px solid #ccc;
  padding: 16px 0;
  list-style-type: none; }
  .courseElement .button {
    background-color: #FF9800;
    color: white;
    border: none;
    width: 80px; }
  .courseElement .topCourse {
    padding: 16px 0; }
    .courseElement .topCourse .time {
      margin-left: 8px;
      margin-right: 8px; }
  .courseElement .bottomCourse {
    display: inline-block;
    width: 300px;
    padding: 16px 0; }
    .courseElement .bottomCourse .courseDescription {
      width: 220px;
      display: inline-block;
      word-wrap: break-word; }

.coursesList {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  display: inline-block; }

.coursesWrapper {
  text-align: center; }

.find {
  padding: 8px 16px; }

.courseDetailContainer {
  text-align: center;
  margin-top: 32px; }
  .courseDetailContainer .row {
    width: 100%;
    margin-top: 16px;
    display: inline-block; }
    .courseDetailContainer .row text {
      float: left;
      margin-left: 20%;
      margin-right: 20%;
      max-width: 32px; }
    .courseDetailContainer .row input {
      float: left; }
    .courseDetailContainer .row .titleInput {
      width: 20%; }
    .courseDetailContainer .row .descriptionInput {
      height: 10%;
      width: 40%; }
    .courseDetailContainer .row .dateInput {
      width: 10%; }
    .courseDetailContainer .row .durationInput {
      width: 5%;
      max-width: 32px; }
    .courseDetailContainer .row .durationConvert {
      float: left;
      margin-left: 8px; }
    .courseDetailContainer .row select {
      float: left;
      width: 10%;
      max-width: 128px;
      height: 64px; }
    .courseDetailContainer .row .authorsControls {
      float: left;
      height: 64px;
      margin-left: 8px;
      margin-right: 8px; }
      .courseDetailContainer .row .authorsControls button {
        margin-top: 8px; }

.courseDetailsControls {
  width: 100%;
  text-align: center;
  display: inline-block;
  margin-top: 16px;
  margin-bottom: 16px; }

@media screen and (max-width: 768px) {
  .coursesList {
    position: relative;
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    display: inline-block; } }

/*# sourceMappingURL=styles.css.map */
